/* RESET */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* VARIABLES */

html {
  --colorprimary: #0065fc;
  --colorsecondary: #deebff;
  --colorbg: #f2f2f2;
  --colorshadow: #d8d8d8;
  --colorpolice: black;
}

/* GENERAL*/

body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  color: var(--colorpolice);
}

.container {
  max-width: 1600px;
  margin: 3.75rem auto;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  color: var(--colorpolice);
}

a:visited {
  color: var(--colorpolice);
}

span {
  font-weight: bold;
}

/* HEADER */

nav {
  display: grid;
  grid-template-columns: 1fr repeat(3, 160px);
  grid-template-rows: 60px;
}

nav img {
  height: 60px;
}

.linksign,
.linkhome,
.linkactivity {
  line-height: 60px;
  padding-right: 2rem;
  text-align: right;
}

#sign {
  font-weight: 700;
  color: var(--colorprimary);
}

/* CHANGEMENT SURVOL LINK */

header a:hover {
  color: var(--colorprimary);
  border-top: 3px solid var(--colorprimary);
}

/* SECTION SEARCH*/

.search {
  margin-top: 2rem;
}

.search__bar {
  display: flex;
  margin: 2rem 0;
}

.search__bar p {
  height: 50px;
  width: 50px;
  background-color: var(--colorbg);
  border: solid 1px var(--colorbg);
  border-radius: 15px 0 0 15px;
}

.search__bar p i {
  padding: 17px 19px;
}

.search__bar input {
  height: 50px;
  padding: 1rem;
  font-weight: 600;
  border: solid 1px var(--colorbg);
}

.search__bar .btn {
  background-color: var(--colorprimary);
  color: var(--colorbg);
  font-weight: 500;
  height: 50px;
  padding: 0.5rem;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.search__bar input:focus {
  border: solid 2px var(--colorprimary);
}

.btn--small {
  display: none;
  background-color: var(--colorprimary);
  color: var(--colorbg);
  font-weight: 500;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-left: -1rem;
}

/* CHANGEMENT SURVOL BTN */

.btn:hover,
.btn--small:hover {
  background-color: var(--colorsecondary);
  color: var(--colorprimary);
}

/* FILTRES */

.filter__bloc {
  display: flex;
  align-items: center;
}

.filters {
  display: flex;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid var(--colorbg);
  border-left: none;
  border-radius: 30px;
  margin: 0.5rem 1.2rem;
  height: 50px;
  cursor: pointer;
}

.filter__icon {
  display: flex;
  background-color: var(--colorsecondary);
  border: solid 2px var(--colorsecondary);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.filter i {
  display: flex;
  justify-content: center;
  color: var(--colorprimary);
  line-height: 50px;
}

.filter h3 {
  padding: 0 1rem;
  line-height: 50px;
  height: 50px;
}

/* CHANGEMENT SURVOL FILTRES */

.filter:hover {
  border: 3px solid var(--colorsecondary);
  border-left: none;
  color: var(--colorprimary);
}

/* INFO */

.info {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--colorbg);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 1rem;
}

.info i {
  color: var(--colorprimary);
  font-size: 12px;
}

/* SECTION HOME_TOP */

.home_top {
  display: flex;
  justify-content: space-between;
}

.home,
.tophome {
  background-color: var(--colorbg);
  border-radius: 20px;
  padding: 2rem;
}

/* SECTION HOME */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  -moz-column-gap: 1.8rem;
  column-gap: 1.8rem;
  row-gap: 1.8rem;
}

.home__title,
.home__footer {
  grid-column: 1 / span 3;
}

.home__footer:hover {
  text-decoration: underline;
}

/* CARD HOME */

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  border-radius: 25px;
  padding: 5px 5px 10px 5px;
  box-shadow: 10px 10px 10px var(--colorshadow);
  transition: 0.5s ease-out;
}

.card img {
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
}

.img {
  -o-object-fit: cover;
  object-fit: cover;
}

.card__title,
.card__price,
.card__grade {
  padding: 2px 0 0 15px;
}

.card__grade {
  font-size: 13px;
  color: var(--colorbg);
}

.good {
  color: var(--colorprimary);
}

/* CHANGEMENT SURVOL CARD */

.card:hover {
  transform: scale(1.1);
}

/* SECTION TOP */

.tophome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}

.tophome__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topMedia {
  display: flex;
  flex-direction: column;
}

.tophome__title i {
  font-size: 1.5rem;
}

/* CARD TOP */

.top {
  width: 340px;
  height: 145px;
  margin: 1rem 0;
}

.top a {
  display: flex;
  flex-direction: row;
}

.top img {
  width: 130px;
  height: 135px;
  border-radius: 20px 0 0 20px;
}

.top__info {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  padding-left: 15px;
  height: 145px;
}

.top__title,
.top__price {
  padding: 5px 0 0 0;
}

.top__price {
  flex-grow: 1;
}

.top__grade {
  font-size: 0.8rem;
  color: var(--colorbg);
  padding-bottom: 10px;
}

/* ACTIVITY  */

.activities {
  display: flex;
  margin-top: 2rem;
}

.grid-big {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 60px 160px repeat(4, 30px) 160px;
  -moz-column-gap: 2.4rem;
  column-gap: 2.4rem;
}

.activity__title {
  grid-area: 1 / span 4;
}

.activity {
  width: 300px;
  height: 250px;
  padding: 0;
}

.activity img {
  height: 195px;
}

.big {
  height: 440px;
}

.big img {
  height: 385px;
}

.small {
  height: 160px;
}

.small img {
  height: 105px;
}

.activity h4 {
  height: 55px;
  padding: 1rem;
}

/* PLACEMENT DES CARTES */

#vieuxPort {
  grid-row: 2 / span 7;
}

#fortDePomegues {
  grid-row: 2 / span 4;
}

#ilesDuFrioul {
  grid-row: 7;
}

#parcNationalDesCalanques {
  grid-row: 2 / span 7;
}

#notreDameDeLaGarde {
  grid-row: 2;
}

#parcLonchamp {
  grid-row: 4 / span 7;
}

/* FOOTER */

footer {
  background-color: var(--colorbg);
  height: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  max-width: 1450px;
  margin: 0 auto;
}

.footer__bloc {
  width: 30%;
}

footer h3 {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

footer li {
  margin: 0.62rem 0;
}

footer a:hover {
  text-decoration: underline;
}

/*************** MEDIA QUERIES **************/

@media screen and (max-width: 1400px) {
  .container {
    margin: 2rem;
  }

  /* RESPONSIVE SECTION HOMETOP */

  .home_top {
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .home,
  .tophome {
    margin-bottom: 2rem;
  }

  .grid {
    justify-content: center;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }

  /* RESPONSIVE SECTION TOP */

  .tophome {
    margin: 2rem 0;
    order: -1;
  }

  .topMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .top {
    margin: 1rem;
  }

  /* RESPONSIVE SECTION ACTIVITY */

  .activities {
    justify-content: center;
  }

  .grid-big {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 60px repeat(2, 160px);
    grid-gap: 2rem;
  }

  .activity__title {
    grid-area: 1 / span 3;
  }

  .big,
  .activity {
    width: 300px;
    height: 160px;
  }

  .big img,
  .activity img {
    height: 105px;
  }

  #vieuxPort,
  #fortDePomegues,
  #ilesDuFrioul,
  #parcNationalDesCalanques,
  #notreDameDeLaGarde,
  #parcLonchamp {
    grid-area: auto;
  }
}

@media screen and (max-width: 1100px) {
  /* RESPONSIVE FILTERS */

  .filter__bloc {
    flex-direction: column;
  }

  .filter__title {
    align-self: flex-start;
  }

  .filters {
    flex-wrap: wrap;
  }

  .filter {
    margin-left: 0;
  }

  /* RESPONSIVE SECTION HOME*/

  .grid {
    grid-template-columns: repeat(2, 250px);
    grid-gap: 2rem 6rem;
  }

  .home__title,
  .home__footer {
    grid-column: 1 / span 2;
  }

  /* RESPONSIVE SECTION ACTIVITY */

  .grid-big {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 60px repeat(3, 160px);
    grid-gap: 2rem 6rem;
  }

  .activity__title {
    grid-area: 1 / span 2;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin: 2rem 0;
  }

  /* RESPONSIVE HEADER  */

  nav {
    grid-template-areas: "logo li2" "li3 li4";
    grid-template-rows: 60px 60px;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
  }

  nav img {
    grid-area: logo;
    padding-left: 1rem;
  }

  .linksign {
    grid-area: li2;
    text-align: right;
    line-height: 60px;
    padding-right: 3rem;
  }

  .linkhome {
    grid-area: li3;
    text-align: center;
    border-bottom: 3px solid var(--colorbg);
    padding: 0;
  }

  .linkactivity {
    grid-area: li4;
    text-align: center;
    border-bottom: 3px solid var(--colorbg);
    padding: 0;
  }

  .linkactivity:hover,
  .linkhome:hover {
    border-top: none;
    border-bottom: 3px solid var(--colorprimary);
  }

  .linksign:hover {
    border-top: none;
  }

  /* RESPONSIVE SEARCH  */

  .search {
    padding-left: 1rem;
  }

  .btn {
    display: none;
  }

  .btn--small {
    display: unset;
    cursor: pointer;
  }

  .search__bar {
    justify-content: center;
  }

  /* RESPONSIVE SECTION HOME */

  .grid {
    grid-template-columns: 320px;
  }

  .home__title,
  .home__footer {
    grid-column: 1;
  }

  .card {
    width: 320px;
  }

  .home {
    background-color: white;
  }

  /* RESPONSIVE TOP */
  .top {
    margin: 1rem 0;
  }

  .top__info {
    width: 180px;
  }

  .tophome {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }

  /* RESPONSIVE SECTION ACTIVITY */

  .grid-big {
    grid-template-columns: 320px;
    grid-gap: 2rem;
  }

  .activity__title {
    grid-area: 1;
  }

  /* RESPONSIVE FOOTER  */

  footer {
    height: auto;
  }

  .footer {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 3rem;
    margin-top: 2rem;
  }

  .footer__bloc {
    margin-left: 3.75rem;
    width: 300px;
    margin-top: 2rem;
  }

  footer h3 {
    margin-top: 0;
  }
}
