*{margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none;box-sizing: border-box;}

html {

    --colorprimary : #0065FC;
    --colorsecondary : #DEEBFF;
    --colorbg : #F2F2F2;
    --colorshadow : #d8d8d8;
    --colorpolice : black;

}

body {

    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;

}

a:visited {
    color: var(--colorpolice)
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: var(--colorbg);
    height: 200px;

}

.footer__bloc {
    width: 30%;
}

footer h3 {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

footer li {
    margin: 0.62rem 0;
}

